{
  "auth_audience": "https://(Your value from auth0)",
  "auth_url": "https://(your value from auth0).auth0.com/oauth/token",
  "auth_client_id": "(your value from auth0)",
  "auth_client_secret": "(your value from auth0)",
  "auth_username": "e2e-testing@mydomain.com",
  "auth_password": "(your password given to auth0)"
}
